In [6]:
#Q1.Create a Pandas Series that contains the following data:4, 8, 15, 16, 23,and 42.Then, print the series.

In [5]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

In [9]:
Variable_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(Variable_data)
my_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [10]:
# Create a Pandas DataFrame that contains the following data:

# Then, print the DataFrame.

In [13]:
data = { 
    'Name':['Alice', 'Bob' , 'claire'],
    'Age' :[25, 30, 27],
    'Gender': ['Female', 'Male' , 'Female']
}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  claire   27  Female

In [14]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [15]:
# In Pandas, a DataFrame is a two-dimensional labeled data structure that can store data in rows and columns,
# much like a table in a relational database. It is a powerful data structure that provides a flexible and 
# efficient way to work with data, as it allows for easy manipulation, analysis, and visualization of large 
# datasets.

# On the other hand, a Pandas Series is a one-dimensional labeled array that can store data of any type 
# (integer, float, string, etc.) and can be indexed using labels. A Series can be thought of as a single 
# column of a DataFrame, where each row is assigned a label or an index.

# Here's an example to illustrate the difference between a DataFrame and a Series:


import pandas as pd

# Create a dictionary of data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
    'Age': [25, 30, 35, 40, 45],
    'Country': ['USA', 'Canada', 'UK', 'Australia', 'France']
}

# Create a DataFrame using the dictionary
df = pd.DataFrame(data)

# Create a Series from the 'Age' column of the DataFrame
age_series = df['Age']

# Print the DataFrame and the Series
print(df)
print(age_series)



# In this example, we first create a dictionary called data that contains information about the name, age, 
# and country of five individuals. We then pass this dictionary to the pd.DataFrame() function to create a 
# DataFrame called df.

# Next, we create a Series called age_series by selecting the 'Age' column from the DataFrame df. This is 
# done using the syntax df['Age'], which returns a one-dimensional Series containing the ages of each 
# individual.

# The main difference between the two is that the DataFrame has a two-dimensional structure with multiple 
# columns, while the Series has only one column. In addition, the DataFrame can store multiple types of data 
# in a structured way, making it useful for working with large and complex datasets, whereas the Series is
# typically used for working with a single column of data.

      Name  Age    Country
0    Alice   25        USA
1      Bob   30     Canada
2  Charlie   35         UK
3    David   40  Australia
4    Emily   45     France
0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [ ]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

In [17]:
# Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some of the most 
# commonly used functions:

# head() and tail(): These functions are used to display the first and last n rows of a DataFrame, 
# respectively. They are often used to get a quick overview of the data or to check that the data was loaded
# correctly. For example:

import pandas as pd

# Load a DataFrame from a CSV file
df = pd.read_csv('data.csv')

# Display the first 5 rows of the DataFrame
print(df.head())

# Display the last 5 rows of the DataFrame
print(df.tail())

# describe(): This function is used to generate descriptive statistics of the data in the DataFrame, such as 
# mean, standard deviation, minimum, maximum, and quartile values. It can help to provide an initial 
# understanding of the data and to identify potential issues, such as missing values or outliers. For 
# example:

import pandas as pd

# Load a DataFrame from a CSV file
df = pd.read_csv('data.csv')

# Display descriptive statistics of the data
print(df.describe())

# groupby(): This function is used to group the data in the DataFrame by one or more columns, and apply a 
# function (such as mean, sum, or count) to each group. It is often used to perform aggregate calculations or
# to summarize the data by different categories. For example:

import pandas as pd

# Load a DataFrame from a CSV file
df = pd.read_csv('data.csv')

# Group the data by the 'Category' column and calculate the mean of the 'Value' column for each group
grouped_data = df.groupby('Category')['Value'].mean()

# Display the result
print(grouped_data)

# These are just a few examples of the many functions available in Pandas for manipulating data in a 
# DataFrame. The specific functions used will depend on the nature of the data and the analysis being 
# performed

    name         email_id  phone_number
0   sudh   sudh@gmail.com     837654882
1  krish  krish@gmail.com      37846677
    name         email_id  phone_number
0   sudh   sudh@gmail.com     837654882
1  krish  krish@gmail.com      37846677
       phone_number
count  2.000000e+00
mean   4.377508e+08
std    5.655498e+08
min    3.784668e+07
25%    2.377987e+08
50%    4.377508e+08
75%    6.377028e+08
max    8.376549e+08

KeyError: 'Category'

In [18]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
In Pandas, both Series and DataFrame are mutable in nature, meaning their values can be changed after they 
have been created.

On the other hand, Panel is not mutable, as it is designed to store three-dimensional data and is being 
phased out in favor of the more versatile and efficient multi-dimensional DataFrame.

In summary, the answer to the question is: Series and DataFrame are mutable, while Panel is not.

In [19]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
# Yes, we can create a DataFrame using multiple Series.

# To create a DataFrame using multiple Series, we can first create each Series object containing the data, 
# and then pass them as a dictionary to the DataFrame constructor.

# Here's an example:


import pandas as pd

# Create a Series for the names of students
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])

# Create a Series for the scores of the students
scores = pd.Series([90, 85, 95, 80])

# Create a Series for the grades of the students
grades = pd.Series(['A', 'B', 'A', 'B'])

# Create a dictionary containing the Series
data = {'Name': names, 'Score': scores, 'Grade': grades}

# Create a DataFrame using the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# In this example, we created three Series objects: names, scores, and grades. We then created a dictionary
# data containing these Series, with keys corresponding to the column names we want in our DataFrame. 
# Finally, we passed this dictionary to the DataFrame constructor to create the DataFrame df. We can see that
# the resulting DataFrame has three columns, each containing the data from one of the Series.